    -ollama
    -numpy
    -pandas
    -scikit-learn
    -tqdm
    -faiss-cpu
    -time
    -sys
    -os
    -textwrap
    -tabulate
    -rouge-score
    -collections
    -subprocess
    -json
    -re
    -copy